/* STYLES ICOMON - CheckMyCode N.18
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'icomoon';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.eot");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.eot") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  top: 50%;
  transition: all .3s ease;
  /* Meilleur rendu des polices =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:not(.icon-play), 
[class*=" icon-"]:not(.icon-play) {
  margin-top: -6.5px;
  right: 0;
}

.icon-play:before {
  content: "\ea15";
}

.icon-circle-right:before {
  content: "\ea42";
}

/* STYLES GENERALE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background: lightgray;
}

body, h3 {
  color: white;
}

p {
  font-size: .9em;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  padding: .5em 0;
  margin: .5em 0;
}

img {
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* MÉGA MENU STYLES DE POSITIONNEMENT STYLES GÉNÉRAUX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-bar-section .has-dropdown {
  position: static;
  a {
   position: relative;
   }
}
.top-bar-section .has-dropdown.moved {
  position: static;
  > a {
    &:after {
      display: block;
    }
  }
}



  /* DROPDOWN GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.m-menu {
  border-top: 1px solid #4E4E4E;
  a {
    display: block;
    opacity: .5;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
  }
}



  /* LIENS SUPÉRIEURS DANS LES STYLES DE DÉPOSE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.column li {
  &:not(:first-child) a {
    border-top: 1px solid #262626;
  }
  &:not(:last-child) a {
    border-bottom: 1px solid #4E4E4E;
  }
  a {
    &:hover {
      i {
         right: 3px;
      }
    }
  }
}



  /* LIENS INFÉRIEURS À L'INTÉRIEUR DES PREMIERS STYLES DE DÉPÔT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  .icon-play {
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color .3s ease;
  }
  &:hover {
    .icon-play {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}



  /* CIBLE DIV À L’INTÉRIEUR DEUXIÈME STYLES DE DÉPÔT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.column > img { 
  margin: 1em 0;
}

.info-wrap {
  h3 {
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px solid #4E4E4E;  
  }
}

.info {
  display: none;
}

.info-visible {
  display: block;
}

.dt {
  margin-top: 50px;
  text-align: center;
  font-size: 2em;
  padding: 0 20px;
}

.p {
  color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}